<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <%= render :partial => 'shared/flash_notice' %>
      <% if @conversations.empty? %>
        <h4>No Conversations</h4>
        <%= link_to "New", new_message_thread_path %>
      <% else %>
        <h4>Conversations for <%=@current_user.username%></h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Subject</th>
              <th>From</th>
              <th>to</th>
              <th>Messages</th>
              <th>Unread</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @conversations.each do |conversation| %>
              <tr>
                <td><%= conversation.subject %></td>
                <td><%= conversation.sender.email %></td>
                <td><%= conversation.recipients.join(",") %></td>
                <td><%= conversation.messages.count %></td>
                <td><%= conversation.messages.select {|x| x.read == false }.count %></td>
                <td><%= link_to "Thread", action: "conversation", id: conversation.id %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
